<?xml version="1.0"?>

<model>
  <name>stairs_768</name>
  <version>1.0</version>
  <sdf version="1.5">stairs_768.sdf</sdf>

  <author>
    <name>Enrico Mingo Hoffman</name>
    <email>enrico.mingo@iit.it</email>
  </author>

  <description>
    Stairs ending at 0.77 m from the ground
  </description>

</model>
