<?xml version="1.0"?>

<model>
  <name>stairs_1260</name>
  <version>1.0</version>
  <sdf version="1.5">stairs_1260.sdf</sdf>

  <author>
    <name>Enrico Mingo Hoffman</name>
    <email>enrico.mingo@iit.it</email>
  </author>

  <description>
    Stairs ending at 1.26 m from the ground
  </description>

</model>
